.product {
  margin-top: calc(15px + 10 * ((100vw - 319px) / 1601));
}

.product-image {
  width: 35%;
  margin-right: 3%;
  float: left;
  aspect-ratio: 24/34;
}
.product-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.product-description {
  width: 57%;
  aspect-ratio: 1/1;
  margin-left: 3%;
  float: right;
  padding-top: 5%;
}
.product-description * {
  margin-bottom: 4%;
}

.product-description__name {
  color: #15232d;
  font-size: calc(12px + 12 * ((100vw - 319px) / 1601));
  font-weight: 500;
  text-transform: uppercase;
}

.product-description__price {
  color: #244780;
  font-size: calc(16px + 17 * ((100vw - 319px) / 1601));
  font-weight: 600;
}

.product-description__rated {
  color: #244780;
  font-size: calc(10px + 10 * ((100vw - 319px) / 1601));
  font-weight: 400;
}

.product-description__text {
  margin: 4% 0;
  border-top: 1px solid #9e9e9e;
  padding: 4% 0;
  color: #15232d;
  font-size: calc(10px + 8 * ((100vw - 319px) / 1601));
  font-weight: 400;
}

.product-description__options {
  height: 10%;
}

.product-description__options-item {
  margin: 0 1.6666666667%;
  width: 30%;
  height: 100%;
  float: left;
}

.product-description__options-item-part {
  float: left;
}

.product-description__options-item-part {
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 32%;
  outline: none;
  border: 1px solid #9e9e9e;
  font-size: calc(7px + 13 * ((100vw - 319px) / 1601));
}
.product-description__options-item-part:nth-child(1) {
  color: #575555;
  border-right: 1px solid #9e9e9e;
}
.product-description__options-item-part:nth-child(2) {
  color: #575555;
}
.product-description__options-item-part:nth-child(3) {
  color: white;
  background-color: #244780;
}

.product-description__buttons {
  width: 100%;
  height: 10%;
  margin-top: 7%;
  font-weight: 400;
}

.product-description__buttons-item {
  display: inline-block;
  width: 30%;
  margin: 0 1.6666666667%;
  height: 100%;
  font-size: calc(10px + 8 * ((100vw - 319px) / 1601));
  border: 1px solid #9e9e9e;
  background-color: #48689a;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.product-description__buttons-item:hover {
  background-color: #244780;
  -webkit-transform: scale(97%);
          transform: scale(97%);
}

.product-link {
  font-weight: 600;
  font-size: calc(15px + 5 * ((100vw - 319px) / 1601));
  color: black;
}

@media (min-width: 768px) and (max-width: 996px) {
  .product-description__buttons-item {
    width: 35%;
  }
  .product-description__text {
    font-size: calc(8px + 8 * ((100vw - 319px) / 1601));
    margin: 4% 0 3%;
    padding: 3% 0;
  }
}
@media screen and (max-width: 767px) {
  .product-description, .product-image {
    width: 96%;
    margin: 0 2%;
  }
  .product-description__text {
    font-size: calc(12px + 6 * ((100vw - 319px) / 1601));
    margin: 5% 0;
    padding: 5% 0;
  }
}